[Unit]
Description=Keycloak Server
After=network.target

[Service]
Type=idle
Environment="JAVA_OPTS={{ keycloak_java_opts }}"
Environment="JBOSS_HOME={{ keycloak_jboss_home }}"

User={{ keycloak_service_user }}
Group={{ keycloak_service_group }}
ExecStart={{ keycloak_jboss_home }}/bin/standalone.sh -b={{ keycloak_bind_address }} -Djboss.http.port={{ keycloak_http_port }} -Djboss.https.port={{ keycloak_https_port }} -Djboss.management.http.port={{ keycloak_management_http_port }} -Djboss.management.https.port={{ keycloak_management_https_port }}
TimeoutStartSec=600
TimeoutStopSec=600

[Install]
WantedBy=multi-user.target
